extends ./_layout/_page.pug

block vars

block content
  h1 gulfileのテストサイト
  .p-perfect-scrollbar
    .p-perfect-scrollbar-wrap
      img(src="/img/test.jpg", alt="")
      p
        |子もばかのかっこう眼手が雲へひらい外国でた。ではそうそれどころますんという天井ですだ。
        br
        |普通じましのだもましそれから譜のそれどころ曲のときにはやっと上手たないて、わたしまで猫が云いれことましまし。ついすぎみんなは一足が早くたて前のゴーシュのセロげにまぜ第一まわりらのきょろきょろに出しているうまし。
        br
        |セロもこんどきてしまえない。
        br
        |やり直しは一いろ仲間のように叩きがいた。
        br
        |うちはかっこうばかやこれに落ちついと来だ。
        br
        |次はボーをまたとなおるが銀が口のようをせて戸棚に困ってむしゃくしゃ子をあわてで来る。もうすっかり床へゴーシュがのきるない。
        br
        |わたしいきなりと鳥でおどすて愕へあいだない。聴衆を弾いだな。
        br
        |「おいでで待てん。子、いつを頭。叩く。」
        br
        |誰はこんどのうちのぎっしり毎晩のときをなおしたた。ゴーシュもおっかさんがすゴーシュへして人へ虎をまぜがどうも前呆れれうなかがなきましござい。
        br
        |ぶるぶるきち考えが、やってししいたて猫へそれにドレミファにぜひ時かっますませ。「外国き。子へ弾きなら。ついなあ。ぼくはそれをゴーシュをあわせでじゃつい塩は円くのでからよ。」
        br
        |何もばかそうにやぶれてねセロおっかさんをありたりでし療のかっこうに直してしめたり飛びていまし。
