meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title TEST
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
meta(name="description", content="")
meta(name="keywords", content="")
meta(name="theme-color", content="")
meta(name="msapplication-TileImage", content="img/common/ms_tileimage.png")
meta(name="msapplication-TileColor", content="")
link(rel="shortcut icon" href="/img/common/favicon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="/img/common/app_icon.png")
link(rel="stylesheet" href="/css/main.css")

meta(property="og:title", content="")
meta(property="og:site_name", content="")
meta(property="og:type", content="website")
meta(property="og:description", content="")
meta(property="og:url", content="")
meta(property="og:image", content="")

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content="")
meta(name="twitter:description", content="")
meta(name="twitter:image", content="")
